[2021-02-09 16:45] Akash-Ramjyothi opened #4 "Add Update of Constraint Layout Library"
## Feature Request :
Currently the Constraint Layout library on the app uses the version `1.1.3` which was released on August 30th, 2018. There are newer versions of the library available in the market. It would be great if there was an updated version of this library.

[2021-02-09 18:08] Akash-Ramjyothi opened #6 "Add Improved Splash Screen"
## Feature Request:
Currently, the Study Partner App used a static splash screen with very less interactivity. If there was a feature to increase the interactivity of the components, it would probably result in increase of UX.

### Screenshot of Current Splash Screen:
![WhatsApp Image 2021-02-09 at 11 12 22 PM](https://user-images.githubusercontent.com/54114888/107404962-cbfcaf80-6b2c-11eb-8588-4c

[2021-02-09 19:50] Akash-Ramjyothi opened #9 "Add Styled Toast"
## Feature Request:
Currently, the app uses the default Toast to notify the user about certain messages. This default Toast feels too Basic and not personalized and Themed to the app. If there was a Styled and Themed Toast with respect to the app, it will make the user more comfortable to use the app.

### Screenshot of Current Toast:
![WhatsApp Image 2021-02-10 at 12 36 47 AM](https://user-images

[2021-02-09 22:11] Akash-Ramjyothi opened #12 "Add Themed Progress Bar"
## Feature Request:
Currently, the app has a Progress Bar which does not adheres to the theme of the app. If there was a Themed Progress Bar with respect to the theme of the app, it would be better.

### Screenshot of Current Progress Bar:
![WhatsApp Image 2021-02-10 at 3 36 50 AM](https://user-images.githubusercontent.com/54114888/107434824-45a69480-6b51-11eb-9413-f5e223565556.jpeg)

[2021-02-10 07:31] #4 closed

[2021-02-10 07:33] #6 closed

[2021-02-10 07:45] #12 closed

[2021-02-10 07:53] krayong opened #14 "Migrate the project from Android 10 storage to Android 11 storage and above"
Starting from Android 11, a new storage structure has been introduced citing privacy concerns. The application uses a legacy storage structure. **Only try solving this issue if you have a lot of time on hand**.

[2021-02-10 07:56] krayong opened #15 "Moving files and folders inside the application"
The application provides features for deleting and adding files and folders, but there is no feature to move them inside the app

[2021-02-10 07:57] krayong opened #16 "Markdown Documentation"
Creating a better Readme.md for the application based on Android recommended guidelines for contribution

[2021-02-10 08:00] krayong opened #17 "Star multiple files at once"
Right now the application only allows a single file or folder to be starred. The ability to star more than one file at a time would be appreciated

[2021-02-10 08:08] krayong opened #18 "Audio Record"
The **replay button** doesn't work in the audio record feature. Right now an external library is used but support for that library is no more there

[2021-02-10 13:01] krayong opened #19 "Google Drive Backup"
Ability to periodically backup the complete folder structure on Google Drive and retrieve them when signing in from a new device.

[2021-02-24 17:51] rishabhlingam commented on #17
Hi @krayong
I would like to work on this issue.

[2021-02-25 15:27] rishabhlingam commented on #17
#20

[2021-02-28 17:11] kunal299 commented on #9
@krayong Can I work on this issue as a part of Gssoc'21?

[2021-03-02 09:36] krayong commented on #9
Hello @kunal299, @Akash-Ramjyothi is currently working on this issue. Feel free to work on any other issue or create a new issue to work on.

[2021-03-04 21:38] rajeshpanjiyar commented on #16
I want to work on this. I request you to assign me this. I am a participant under GSSoC'21.

[2021-03-07 18:35] rishabhlingam commented on #17
**I would like to work on this issue.**
I am a GSsoc'21 participant.

[2021-03-08 10:17] rishabhlingam commented on #17
Hi @krayong
Thanks for assigning me this issue,
I just wanted to know that as i have already solved this issue with my previous PR  (#20 ), can i make the same PR twice
or do I have to fork the repo again and do everything from beginning ?

[2021-03-08 12:49] iamvs-2002 opened #21 "Put all the intents in one class"
This would reduce the recurring code.
Kindly allow me to do this as a part of GSSOC'21.

[2021-03-08 13:35] krayong commented on #21
Hello, can you explain in detail what exactly is the issue and how would you go about it solving it?

[2021-03-08 13:41] iamvs-2002 commented on #21
Yea sure.
Take any activity. Whenever the activity is switched, we use the intent class.
And the same statement is repeated again and again, whenever we need to switch the activity.

Hence, to reduce this recurring code, it's better to create a class for the same and just call the specific method for that particular class. It would help in managing the code in a better way as all the intents would

[2021-03-08 14:00] krayong commented on #21
Hello, @iamvs-2002 although what you are suggesting might increase the performance a little bit, it reduces code readability. Right now we don't want that. Feel free to contribute to any other issue or create one if you find it necessary.

[2021-03-08 14:00] #21 closed

[2021-03-08 14:08] iamvs-2002 commented on #21
Ohh okay. I'll check out some other issue then. Thanks.

[2021-03-08 17:59] rishabhlingam opened #22 "Unexpected behavior while audio recording."
![study_patner-audio_record-SS](https://user-images.githubusercontent.com/74484036/110358330-494f0d80-8062-11eb-8f93-079ccb83b9e8.jpg)

**Assuming that**
-  `restart` button restarts the entire audio recording from beginning.
- `start/stop` button starts and pauses the audio recording.
- `play` button play the audio recorded till now.

### **The Bug**
The present recorded audio gets concatenated t

[2021-03-08 20:15] prashant7139 opened #23 "Method invocation 'getUid' may produce 'NullPointerException' in MediaAcitvity.java file."
Hello @krayong , I am a participant of GSSOC . May I work on this issue?

[2021-03-09 07:52] krayong commented on #23
Hello, @prashant7139 can you please elaborate when `getUid()` may produce `NullPointerException`

[2021-03-09 08:03] prashant7139 commented on #23
This is the screenshot .

![image](https://user-images.githubusercontent.com/73753215/110437615-94f1cd80-80db-11eb-9a57-74d34d5d4101.png)

[2021-03-09 16:19] rishabhlingam opened #24 "Unable to unselect items in Notes."
### **The Bug**
After selecting all items in Notes or any **_Subject_** in **_Notes_**, by calling using the **_selectAll_** option in the menu, the user is unable to unselect individual items on the list.
Instead of unselecting only the clicked item, rest all elements are getting unselected except the clicked one.

### **Steps to reproduce the Bug:**
1. Go to **_Notes_** or inside any **_Subject_

[2021-03-09 16:20] rishabhlingam commented on #24
Hi @krayong, I would like to work on this issue.

[2021-03-09 17:54] krayong commented on #23
This screen is only reachable when the user is logged in. As soon as the user logs in a value is set in the current user of Firebase. This ensures `getUid()` cannot produce `NullPointerException` in the `MediaActivity.java` file.

[2021-03-09 17:54] #23 closed

[2021-03-09 17:57] #17 closed

[2021-03-11 05:06] Areeb-510 commented on #18
Hello @krayong sir ,I am a participant in Gssoc '21 I would like to work on this issue can you assign it to me.

[2021-03-11 13:19] rishabhlingam opened #27 "An undo option after delete action."
### Feature Request
It will add on to a great User Experience if the user is shown an **`Undo`** option for short interval of time after any **`delete`** action is performed in the **`Notes`** and **`Starred`** section of the app.

[2021-03-11 17:06] priyalbhatewara123 commented on #18
Go ahead :)

[2021-03-12 07:33] #24 closed

[2021-03-12 13:12] rohank2502 opened #28 "Tech Stack Update ( LOGO add )"
I will like to add tech stack logo used in our project this will make our project attractive !! Will start to work on this issue as soon as i get assigned !!

[2021-03-12 13:12] rohank2502 opened #29 "Adding Contributor section in readme ( Automatically )"
I will like to add a feature this will update contributor list in read me automatically !! Will start to work on this issue as soon as i get assigend !!

[2021-03-12 13:49] ManasUniyal opened #30 "Add contributors to the end of Readme.md"
- Add an image of all contributors to the end of README.md
- The images must be dynamically generated

Example:

![image](https://user-images.githubusercontent.com/35189722/110948745-ba930700-8367-11eb-904e-2830254f6632.png)

Creativity is welcome

[2021-03-12 13:51] ManasUniyal commented on #28
Cool @rohank2502 go ahead.

[2021-03-12 14:12] ManasUniyal commented on #27
Go ahead with the feature @rishabhlingam

[2021-03-12 14:20] ManasUniyal commented on #29
I have made another issue regarding the same. By mistake, this issue escaped my eye.
I have already assigned another person who is working on Readme.md
Once that issue is resolved I will assign it to you.
Just make a comment there so that I remember to assign it to you.

Closing this issue.

[2021-03-12 14:20] #29 closed

[2021-03-12 14:39] rohank2502 commented on #28
Thanks !!

[2021-03-12 14:45] rohank2502 commented on #29
Ok for sure !!

[2021-03-12 14:45] rohank2502 commented on #30
Can i work on this ?

[2021-03-12 14:48] rishabhlingam commented on #27
Thanks @ManasUniyal , I'll get on with it.

[2021-03-12 18:36] shreyadubey0902 commented on #30
I would like to work on it as a part of GSSOC'21.
Can you please assign the work to me?

[2021-03-13 05:20] Starboww commented on #22
Can you assign me this issue. I want to work on it, under GSSOC 21.

[2021-03-13 05:26] krayong opened #31 "Test"
## Are you a part of GSSOC' 21?
- [ ] Yes
- [ ] No

## Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you'd like
A clear and concise description of what you want to happen.

## Additional context
Add any other context about the feature request here.

[2021-03-13 05:36] krayong opened #32 "Y"
## Are you a part of GSSOC' 21?
- [ ] Yes
- [ ] No

## Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you'd like
A clear and concise description of what you want to happen.

## Additional context
Add any other context about the feature request here.

[2021-03-13 05:52] deepdhar opened #33 "Add app-icon image on login and registration activity"
Feature Request:
--
If an image would be added beside the **Welcome Back** text, it will look better.

**Screenshot of Login Activity**
<img width="450" height="970" src="https://user-images.githubusercontent.com/53803245/111020737-01c3db00-83ee-11eb-8462-07871adf4688.jpg">

[2021-03-13 05:53] deepdhar commented on #33
Can I make the suitable changes that I mentioned above?

[2021-03-13 10:26] ManasUniyal commented on #33
Yes @deepdhar go ahead
Add the logo for registration screen as well

[2021-03-13 10:37] ManasUniyal commented on #22
Yes, @Starboww ho ahead!!

[2021-03-13 10:41] ManasUniyal commented on #15
Hello @shreyadubey0902 are you a part of GSSOC '21 and how would you go about implementing this feature?

[2021-03-13 10:43] deepdhar commented on #33
great, thanks for assigning.

[2021-03-13 11:25] shreyadubey0902 commented on #15
Yes I m a participant in gssoc21

[2021-03-13 13:59] Junaid55 opened #34 "Flag animation overlaps Made In India text in splash Screen."
## Are you a part of GSSOC' 21?
- [x] Yes
- [ ] No

## Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you'd like
A clear and concise description of what you want to happen.

## Additional context
Add any other context about the feature request here.

[2021-03-13 14:02] Junaid55 commented on #34
On splash screen Made In India text hide by flag animation. Can I fix it.

[2021-03-13 14:04] ManasUniyal commented on #34
@krayong what's your take?
The splash screen looks good to me.

[2021-03-13 14:09] #34 closed

[2021-03-13 14:10] krayong commented on #34
I think the splash screen looks good for now. @Junaid55 if you believe there is an issue please provide a screenshot.

[2021-03-13 14:16] Junaid55 opened #35 "Image on first onboarding screen should be more clear."
## Are you a part of GSSOC' 21?
- [x] Yes
- [ ] No

## Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you'd like
A clear and concise description of what you want to happen.

## Additional context
Add any other context about the feature request here.

[2021-03-13 14:23] Junaid55 commented on #35
![Screenshot_2021-03-13-19-45-24-56](https://user-images.githubusercontent.com/77045046/111033145-c9e08600-8435-11eb-904c-af7680cad0db.png)

[2021-03-13 15:18] iamvs-2002 opened #36 "Add animations with intent"
## Are you a part of GSSOC' 21?
- [x] Yes
- [ ] No

## Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Adding animation, when an activity starts(the way it opens), would make the app look better.

## Describe the solution you'd like
A clear and concise description of what you want to happen.

[2021-03-13 15:29] ManasUniyal commented on #35
Go ahead with the change @Junaid55

[2021-03-13 15:33] ManasUniyal commented on #36
Go ahead with the change @iamvs-2002 and do add an animation when you make the pull request.

[2021-03-13 15:53] iamvs-2002 commented on #36
I was just going through the code, and I found that animations for the same have already been implemented. So I am closing this issue. Thanks.

[2021-03-13 15:53] #36 closed

[2021-03-13 16:28] khareyash05 opened #37 "update contributing.md"
Hi! I would like to update contributing.md and
Add the following -

1.Difference between GIT and GITHUB
2.How to clone,fork repository
3.How to create a branch and then use git push to push to repo
4.Create a PR
5.Squash commits in a single issue into one
6, Updating the forked and local repo as the updations are made in the upstream
I will be doing it as a part of GSSOC'21

[2021-03-13 16:31] ManasUniyal commented on #36
Okay @iamvs-2002
You can contribute to or raise some other issue

[2021-03-13 16:32] ManasUniyal commented on #37
Go ahead with the changes @khareyash05 !!

[2021-03-13 16:40] khareyash05 commented on #37
@ManasUniyal Attached a PR have a look!

[2021-03-13 17:00] ManasUniyal opened #39 "Update the PR template"
The content of the above-mentioned template is good but make it more understandable such that contributors use it properly.

[2021-03-13 17:01] ManasUniyal opened #40 "Update the issues template"
The content of the above-mentioned template is good but make it more understandable such that contributors use it properly by adding notes or using comments.

[2021-03-13 17:12] ManasUniyal opened #41 "Update the welcome message for first time contributors"
The welcome message pops up for the following users -
- who raise their first issue
- make their first PR
- when their first PR is merged

The message contains way too many emoticons. Make it more decent and encouraging.

Creativity is always welcome!!

[2021-03-13 17:38] Junaid55 commented on #35
thanks for assigning me this.

[2021-03-13 17:39] Junaid55 commented on #35
Can i use the different  more clear image

[2021-03-13 17:42] ManasUniyal commented on #35
Do attach the screenshot in the pull request

[2021-03-13 17:43] Junaid55 commented on #35
okk

[2021-03-13 17:56] Junaid55 commented on #35
![Uploading notebook.png…]()

[2021-03-13 17:56] Junaid55 commented on #35
![Uploading agenda (1).png…]()

[2021-03-13 19:08] #37 closed

[2021-03-13 19:55] harshvs7 commented on #30
I would like to work on it as a part of GSSOC'21.
Can you please assign the work to me?

[2021-03-14 06:15] iamvs-2002 commented on #36
Yea okay. Thanks.

[2021-03-14 06:39] ManasUniyal opened #44 "Add GitHub action for automatic PR and issue assignment"
Add GitHub actions for automatic PR and issue assignment to the creator.

[2021-03-14 07:29] ManasUniyal commented on #33
This issue has been fixed

[2021-03-14 07:29] #33 closed

[2021-03-14 08:57] namitgpta commented on #14
In this, You want that your app should store all the user files directly in the Internal Storage with a folder named StudyPartner instead of the folder inside Android->data->com.studypartner. This is the thing that we have to implement naa. I just wanted to confirm.

[2021-03-14 09:16] krayong commented on #14
The application currently stores the file in the Internal Storage in a folder names StudyPartner for Android 10 devices and in Android->data->com.studypartner for Android 11 devices.

Starting from Android 11, Google changed the way filesystem access for Android works due to security concerns. The application uses a tag in the Manifest file called `android:requestLegacyExternalStorage="true"`. It

[2021-03-14 09:23] namitgpta commented on #14
Ok I got it, that means you want to upgrade your app to use Scoped Storage concept

[2021-03-14 11:02] neha-b2001 commented on #44
Can I please be assigned this issue, under **GSSoC 2021**?

[2021-03-14 11:06] ManasUniyal commented on #44
You have been assigned @neha-b2001. Go ahead!!

[2021-03-14 11:20] krayong commented on #14
Yeah. I know it's a difficult task. Would you be up for it?

[2021-03-14 13:15] akshatvirmani commented on #41
I would like to work on this issue. Please assign this to me.

[2021-03-14 13:15] akshatvirmani commented on #39
I would like to work on this issue. Please assign this to me.

[2021-03-14 13:16] akshatvirmani commented on #40
I would like to work on this issue. Please assign this to me.

[2021-03-14 13:18] ManasUniyal commented on #40
The content is fine, don't change it too much just make it more understandable for contributions.

Add something more if you feel that it is relevant.

You have been assigned.

[2021-03-14 13:19] ManasUniyal commented on #41
Assigning it to you @akshatvirmani

Reduce the number of emotions in the first issue and first pr message.

The first successful PR merge message is fine.

You are most welcome to use your creativity!!

[2021-03-14 13:21] ManasUniyal commented on #39
The content is fine, don't change it too much just make it more understandable for contributions.

Assigned @akshatvirmani

[2021-03-14 13:24] akshatvirmani commented on #41
Thank you Sir, I will work on it.

[2021-03-14 13:26] akshatvirmani commented on #40
Okay and thank you Sir.

[2021-03-14 13:27] akshatvirmani commented on #39
Okay Sir.

[2021-03-14 13:52] namitgpta commented on #14
Currently I am not that much expert in this field. But in future I will let you know.

[2021-03-14 15:26] Junaid55 commented on #35
I fix the issue do issue do ineed to close it

[2021-03-15 09:43] tjain1511 opened #51 "Fixing the add subject and update button in attendance fragment"
## Are you a part of GSSOC' 21?
-  Yes
- [ ] No

## Describe the bug
Add subject and update button in attendance fragment is not aligned perfectly and because of that they are not showing properly and are partially cut from the bottom side. Hence giving a bad UI experience to the users.

## To Reproduce
Steps to reproduce the behavior:
1. Can easily be visible when at attendance fragment.

## Expe

[2021-03-15 12:36] ManasUniyal commented on #51
Go ahead with the changes @tjain1511

[2021-03-15 14:00] #16 closed

[2021-03-15 14:58] ManasUniyal opened #52 "Restructure images for README.md"
- Move all screenshots added in README.md to a folder named _screenshots_
- Update README.md accordingly.

[2021-03-15 16:33] sakshamgurbhele commented on #52
Hey @ManasUniyal, I am GSSoC Participant, I would like to work on this issue could you please assign this issue to me!
ThankYou

[2021-03-15 18:15] Junaid55 commented on #35
thanks for merging..

[2021-03-15 18:15] #35 closed

[2021-03-15 18:52] krayong commented on #52
@JelleVos1 please ask for issue assignment before working on a issue. @sakshamgurbhele since he has already started working on the issue, I am assigning it to him. Please look for other issues to work on.

[2021-03-15 19:00] amritakesh commented on #52
hello,
I'm participating GSSoC 2021. Can i handle and work on this issue?

[2021-03-16 00:39] kunal299 commented on #9
@krayong Thanks for assigning it to me. Will try to complete it by today.

[2021-03-16 04:25] rohank2502 commented on #28
I have done this have a look @krayong

[2021-03-16 07:11] #28 closed

[2021-03-16 11:28] ManasUniyal commented on #52
Assigning the task to @sakshamgurbhele as you are a part of GSSOC' 21

[2021-03-16 12:07] ManasUniyal opened #55 "Add hint rather than text in EditText"
Add hint to the EditText in Alert Dialog, not text.
The text should disappear as soon as we click it for the first time.

![image](https://user-images.githubusercontent.com/35189722/111307168-14087800-867f-11eb-8cca-d53ad1d9f0d8.png)

[2021-03-16 13:24] SiddhantChadha commented on #55
Hey!
I would like to work on this issue. Please assign this to me. I am a participant of GSSOC'21.
Thanks!

[2021-03-16 14:03] tjain1511 commented on #55
I would like to work on this as a part of GSSOC'21.
Can you please assign the work to me?

[2021-03-16 15:43] kunal299 commented on #9
@krayong Hey can I use any library for the styled toast or should i make custom?

[2021-03-16 15:54] ManasUniyal commented on #55
Alloting on first come first serve basis to @tjain1511
@viralkumar28 feel free to work on some other issue or some open a new issue.

[2021-03-16 15:59] ManasUniyal commented on #51
This issue has been fixed.

[2021-03-16 16:06] ManasUniyal commented on #51
This issue has been fixed

[2021-03-16 16:08] krayong commented on #51
Yeah closing this issue

[2021-03-16 16:08] #51 closed

[2021-03-16 17:25] #52 closed

[2021-03-16 17:28] #55 closed

[2021-03-16 17:31] krayong commented on #9
Sure feel free to use any library as long as it doesn't increase the APK size much. Please mention the APK size in the pull request. Also if you are changing styled Toast first create a commit with screenshots of styled Toast in 1 or 2 screens let us review it and then move forward with all the screens.

[2021-03-16 17:33] krayong commented on #22
Hello, @Starboww have you made any progress on this issue?

[2021-03-16 17:58] Starboww commented on #22
![Github](https://user-images.githubusercontent.com/48099786/111356920-d7547500-86ae-11eb-9ed9-5ec0ecfabcc7.jpeg)

I tried to search this image inside the res directory so the i can modify the method attached to it
but i was't able to find it . can you help me with it

[2021-03-16 18:26] ManasUniyal commented on #30
What's the update @harshvs7 ?

[2021-03-16 18:30] ManasUniyal commented on #15
Any updates @shreyadubey0902 ?

[2021-03-16 18:31] ManasUniyal commented on #18
Any updates @Areeb-510 ?

[2021-03-16 18:42] sakshamgurbhele opened #60 "Orientation of image APP icon image in README.md"
1. The orientation of the APP icon in README.md to align with the center
2. to use the feature-graphic image as futter in README.md

feature-graphic image is not being used anywhere
location of the image:- screenshots folder!

[2021-03-16 18:43] sakshamgurbhele commented on #60
I am GSSoC participant I would like to work on this, can you please assign it to me!
THANK YOU!

[2021-03-16 19:15] Areeb-510 commented on #18
Sir I looked into the issue but the project which I imported seems to work fine. The audio record feature reply button is working or maybe I misunderstood it plz guide me

[2021-03-17 06:13] krayong commented on #60
The Readme.md looks good for now. If any change is needed, we would open a new issue.

[2021-03-17 06:13] #60 closed

[2021-03-17 06:16] sakshamgurbhele commented on #60
@krayong what about Futter image then? that stock image is not in use,
location of that image - screenshot folder(feature-graphic)

[2021-03-17 06:16] krayong commented on #22
The audio record feature currently uses a third party library. You can check it [here](https://github.com/adrielcafe/AndroidAudioRecorder)

[2021-03-17 06:18] krayong commented on #60
It was added there in case it needed to be used later.

[2021-03-17 16:17] ManasUniyal opened #61 "Add labels to Readme.md"
## Add the following -
- Maintained?
- PRs allowed?
- OpenSource
- Contributions
- Number of issues
- Number of forks
- Discord Chat
- License

## Some References:-

![image](https://user-images.githubusercontent.com/35189722/111499709-37a7ed00-8769-11eb-95d0-af4873ddf534.png)

![image](https://user-images.githubusercontent.com/35189722/111499638-2828a400-8769-11eb-8ddb-4660f6d9a988.png)

### _Be

[2021-03-17 19:16] ManasUniyal commented on #44
Today is the due date to fix the issue @neha-b2001

[2021-03-17 19:16] ManasUniyal commented on #41
Today is the due date to fix the issue @akshatvirmani

[2021-03-17 19:16] ManasUniyal commented on #30
Today is the due date to fix the issue @harshvs7

[2021-03-17 19:17] ManasUniyal commented on #39
Today is the due date to fix the issue @akshatvirmani

[2021-03-17 19:17] ManasUniyal commented on #40
Today is the due date to fix the issue @akshatvirmani

[2021-03-17 19:23] krayong commented on #18
Try to record an audio, while recording press pause. Then click on the play button to play the recording, it won't work. It currently uses a third party library which is no longer supported. What I would like you to do is create the audio record functionality from scratch and make it as similar to the current version as possible.

[2021-03-18 04:34] priyalbhatewara123 opened #62 "Display Alert Dialog before logging out"
When logout button is clicked the user is logged out directly without giving any warning. Add an alert dialog to be displayed before logging out the user.

[2021-03-18 05:20] sarthakvaishnav09 commented on #62
I would like to work on this issue.

[2021-03-18 05:24] ManasUniyal commented on #62
Go ahead @sarthakvaishnav09 !!

[2021-03-18 05:28] EANimesha commented on #61
I am a gssoc participant. I like to work on this issue. Please assign it to me

[2021-03-18 08:29] ManasUniyal commented on #61
Assigned @EANimesha !!

[2021-03-18 16:40] akshatvirmani commented on #40
Sir, Please give me one more day to complete the task.

[2021-03-18 16:41] akshatvirmani commented on #41
Sir, Please give me one more day to complete the task.

[2021-03-18 19:06] codeDamon commented on #14
I want to work on this issue.

[2021-03-18 23:03] ManasUniyal commented on #41
Granted @akshatvirmani !!

[2021-03-18 23:04] ManasUniyal commented on #40
Granted @akshatvirmani !!

[2021-03-19 05:13] neha-b2001 commented on #44
@ManasUniyal Made the 2 PRs which add the necessary files.
Sorry for the slight delay 😅

[2021-03-19 05:36] #62 closed

[2021-03-19 05:37] krayong commented on #14
How will you go about solving this issue @codeDamon?

[2021-03-19 05:39] krayong commented on #9
This is the due date for approving the changes on at least 1 or 2 screens.

[2021-03-19 05:41] #39 closed

[2021-03-19 06:12] kunal299 commented on #9
@krayong I will show it by today

[2021-03-19 08:17] codeDamon commented on #14
We have to use scoped storage to make app's storage model compatible with android 11 and above.

For reference will follow this:
https://developer.android.com/about/versions/11/privacy/storage

[2021-03-19 09:40] EANimesha commented on #30
I am a gssoc participant and I like to contribute to this issue if available

[2021-03-19 10:46] ManasUniyal commented on #30
@EANimesha go ahead!!

[2021-03-19 14:39] rasikabakre commented on #19
@krayong I would like to work on this issue, can you assign it to me?

[2021-03-19 15:17] #30 closed

[2021-03-19 15:20] krayong commented on #19
Do you have any experience working with Google SDKs?

[2021-03-19 15:21] krayong commented on #14
Hello, @codeDamon I'm really sorry but this issue can't be worked on right now. I apologize for any inconvenience caused.

[2021-03-19 15:21] #14 closed

[2021-03-19 17:42] kunal299 commented on #9
@krayong  Android studio doesn't capture screenshots of the toasts. So, I captured screenshot through my laptop and sharing a word file with you. If you suggest some other colors to use, I will change it.
[designs of toast.docx](https://github.com/krayong/Study_Partner/files/6173146/designs.of.toast.docx)

[2021-03-19 17:43] kunal299 commented on #9
@krayong I think the one with the blue stroke looks good and it matches with the theme also.

[2021-03-19 17:46] krayong commented on #9
I too think the one with the stroke looks cool. @ManasUniyal @priyalbhatewara123 what do you guys think?

[2021-03-19 17:55] kunal299 commented on #9
@krayong Btw your app is awesome man.

[2021-03-19 19:55] ManasUniyal commented on #44
It's totally fine @neha-b2001 !!
No worries 😀

[2021-03-20 02:31] priyalbhatewara123 commented on #15
@shreyadubey0902 Are you still working on this issue? It's been so many days now , we might unassign you.

[2021-03-20 02:38] priyalbhatewara123 commented on #9
Yes. Strokes one looks good.

[2021-03-20 05:48] kunal299 commented on #9
@krayong @ManasUniyal @priyalbhatewara123Can I make a pr for this one?

[2021-03-20 06:03] krayong commented on #9
Hey, since I upgraded the level from 2 to 3, it would be better if you made this change on all screens(wherever there is a toast) before creating a PR.

[2021-03-20 06:09] kunal299 commented on #9
Sure :)

[2021-03-20 11:07] codeDamon opened #71 "Hard to find position of Cursor of all TextInputEditText"
## Are you a part of GSSOC' 21?
- [x] Yes
- [ ] No

## Describe the bug
Cursor color of all TextInputEditText is White due to which its hard to find its position.

## To Reproduce
Steps to reproduce the behavior:
1. Open any page with TextInputEditText e.g. Profile
2. In Profile page, Edit full name
3. Change position of cursor while editing
4. Add few more characters
5. Now its very difficult to

[2021-03-20 12:57] #44 closed

[2021-03-20 12:59] priyalbhatewara123 commented on #71
@codeDamon change the cursor color to blue.

[2021-03-20 15:24] neha-b2001 commented on #27
@ManasUniyal If this issue is still pending, could I please work on this?

[2021-03-21 03:53] codeDamon opened #73 "Inconsistent AlertDialog Appearance"
## Are you a part of GSSOC' 21?
- [x] Yes
- [ ] No

## Describe the bug
AlertDialog looks different - When deleting a note and logging out of app.

## To Reproduce
Steps to reproduce the behavior:
1. Add some note folder
2. Delete it. Notice the delete AlertDialogBox
3. Now Log out. Notice the logout AlertDialogBox
4. Both seems different

## Expected behavior
AlertDialogBox appearance needs to be

[2021-03-21 04:55] #71 closed

[2021-03-21 12:03] krayong commented on #27
Sure, go ahead @neha-b2001

[2021-03-21 20:59] ManasUniyal commented on #73
Go ahead with the changes @codeDamon
Make the Alert Dialog similar to logout
And do add before and after screenshots

[2021-03-22 07:51] krayong commented on #40
Hello, @akshatvirmani are you still working on this issue?

[2021-03-22 13:38] #73 closed

[2021-03-22 13:40] krayong commented on #18
Hello, @Areeb-510 are you still working on this issue?

[2021-03-22 14:17] akshatvirmani commented on #40
Yes Sir, I am working on this issue but I was busy with my exams.

[2021-03-22 17:21] codeDamon opened #76 "AlertDialog (with EditText) Appearance Inconsistent with app"
## Are you a part of GSSOC' 21?
- [x] Yes
- [ ] No

## Describe the bug
AlertDialog box used to create folder, or rename them looks inconsistent with app.

## To Reproduce
Steps to reproduce the behavior:
1. Go to 'Notes'
2. Click on Add Folder button
3. AlertDialog to enter folder name looks odd.

## Expected behavior
It should be same as the alertdialog used to add link.

## Additional context
I

[2021-03-22 18:07] ManasUniyal commented on #76
Go ahead with the changes @codeDamon
If required -
- Bold the heading
- improve the color combination of CANCEL button

[2021-03-22 20:12] krayong commented on #76
Also, the add link alert dialog looks a bit weird at the bottom. See if you fix that.

[2021-03-22 21:05] varshith-k commented on #41
@ManasUniyal Can i work on this?

[2021-03-23 05:08] #41 closed

[2021-03-23 08:20] #61 closed

[2021-03-23 15:09] kunal299 commented on #9
@krayong Hey, I'm done with the adding of the styled toast in the whole app. Can I make a pr?

[2021-03-23 15:25] ManasUniyal commented on #9
Yeah sure @kunal299 go ahead with the PR!!

[2021-03-23 19:22] kunal299 commented on #9
@ManasUniyal @krayong @priyalbhatewara123 I have created a pr.

[2021-03-24 05:53] #9 closed

[2021-03-24 12:44] Ayan-10 opened #80 "App don't respond If a new user clicked the SIGN IN WITH GOOGLE button"
## Are you a part of GSSOC' 21?
- [X] Yes
- [ ] No

## Describe the bug
When a new user mistakenly clicks the SIGN IN WITH GOOGLE button, It doesn't show any pop-up or error toast which gives the user the right direction to create an account first. The app doesn't give any reaction to that mistake.

## To Reproduce
Steps to reproduce the behavior:
1. Open the app and click SIGN IN WITH GOOGLE butt

[2021-03-24 12:56] krayong commented on #80
Hey, @Ayan-10 when a user clicks on the `SIGN IN WITH GOOGLE` button, if the account exists user is signed in and if the account does not exist, one is created for them. Can you tell me what the problem is and how would you solve it?

[2021-03-24 13:12] Ayan-10 commented on #80
Hey, @krayong I tested the app. Whenever I clicked the SIGN IN WITH GOOGLE button and select a new google account that is not linked with the app. It just does nothing. You can see this in the video that I shared here. If anyone clicked the SIGN IN WITH GOOGLE buttoned select a new google account that is not linked with the app should show some information to the user through a pop-up. But the app

[2021-03-24 13:24] krayong commented on #80
@Ayan-10 please download the application from play store and check if the issue persists. If it does tell me I'll assign this issue to you and you can work on it.

[2021-03-24 13:41] Ayan-10 commented on #80
@krayong I installed it from Playstore. For the first two times, it did not respond means did the same thing. But third time It reacted normally. I think some error occurred in the app the first two times. Didn't you think we should show an error message if login is not successful?

[2021-03-24 13:47] krayong commented on #80
It works correctly for me and while being released it had been tested by 20-30 people. So I don't think there is a problem. But if you find one please open a PR. I'm assigning this issue to you.

[2021-03-24 16:47] Ayan-10 commented on #80
Hey, @krayong I was thinking to show a toast if login is not successful. The toast will contain "Login unsuccessful, please try again". Should I move forward with that or Do you have any preference in the toast message or any other recommendation?

[2021-03-24 16:49] krayong commented on #80
Sure do this just use StyleableToast as is used throughout the application.

[2021-03-24 16:52] Ayan-10 commented on #80
Sure, Obviously I will maintain the app theme.

[2021-03-25 06:05] #80 closed

[2021-03-25 12:13] ManasUniyal opened #82 "Add Playstore icon"
- Replace the link to the play store with the following icon.
- Clicking on this icon must lead to playstore.

![image](https://user-images.githubusercontent.com/35189722/112471099-7bb27780-8d91-11eb-9ac3-000014cca674.png)

[2021-03-25 19:22] sakshamgurbhele commented on #82
I would like to work on this issue, I am GSSoC participant

[2021-03-26 06:00] #40 closed

[2021-03-26 09:50] Areeb-510 commented on #18
I am so sorry sir I was involved in some other things for last few days. Sir I am in first year of my college and  I really want to contribute but am not able to understand how to implement it Plz guide me I was waiting for the discord channel to be created but it was not made till the last time I checked. Sorry for the delay sir please guide me I know Android but have never worked with audio reco

[2021-03-27 21:24] hagerk720 opened #85 "take multiple pictures from camera"
in app you can select multiple images from gallery but you can't take multiple pictures from camera which will be good if you want to take photos from a part of book as in CamScanner app
and i am want to take this issue please (GSSOC-21 )

[2021-03-27 21:49] ManasUniyal commented on #85
Can you brief how you will go ahead with the changes @hagerk720 ?

[2021-03-28 03:38] neha-b2001 commented on #15
I had a doubt: in this issue, what does 'moving files/folders inside the app' mean?

[2021-03-28 07:00] krayong commented on #15
Something similar to cut, copy, paste for files and folders i.e. the ability to move files and folders inside the notes structure.

[2021-03-28 09:47] neha-b2001 commented on #15
Oh, okay.

[2021-03-28 14:43] hagerk720 commented on #85
i was thinking to modify the used library but i figured out that it is written in kotlin . so i am thinking know to get from user the number of photos first then do it by for loop

[2021-03-28 18:08] krayong commented on #85
I don't think that would look nice. Asking the user the number of images to take would look bad as they might change their decision.

[2021-03-29 18:03] #27 closed

[2021-03-29 18:04] #85 closed

[2021-03-29 18:05] krayong commented on #15
@neha-b2001 would you like to work on this issue?

[2021-03-29 18:07] krayong commented on #18
Please look at the [official Android documentation](https://developer.android.com/guide/topics/media/mediarecorder) or a simple search on Google would provide you with a lot of resources

[2021-03-29 18:09] krayong commented on #76
@codeDamon are you still working on this issue?

[2021-03-29 18:10] codeDamon commented on #76
Yeah, I am.
Most probably it will be done by tomorrow.

[2021-03-29 18:54] codeDamon opened #86 "Starred folder becomes unstarred after renaming"
## Are you a part of GSSOC' 21 ❔
- [x] Yes ✅
- [ ] No  ❎

## Describe the bug
After renaming(adding few more characters to its name) an starred folder becomes unstarred

## To Reproduce
Steps to reproduce the behavior:
1. Create a folder in Notes section
2. Star this folder
3. Go to starred section
4. Rename this folder (try adding few more characters to the name)
5. Revisit Notes section - Now no

[2021-03-30 03:48] Areeb-510 commented on #18
Ok thank you sir

[2021-03-30 04:12] neha-b2001 commented on #15
Yes, I'd like to try to implement this feature 👍

[2021-03-30 07:39] krayong commented on #86
Go ahead with the changes @codeDamon

[2021-03-30 11:31] rahulsain commented on #82
Assign me this issue

[2021-03-30 21:09] hagerk720 opened #89 "Make photos take the same size"
In home page images take different sizes which in my opinion looking not nice so i think if it take the same size will be nicer
If you agree with that can you assien it to me

![Screenshot_20210330-230431_Study Partner](https://user-images.githubusercontent.com/78926069/113057105-f114b280-91ac-11eb-8c23-5e26ebb79104.jpg)

[2021-03-31 05:06] #82 closed

[2021-03-31 05:06] #76 closed

[2021-03-31 22:23] ManasUniyal commented on #89
Assigned @hagerk720
Go ahead with the changes

[2021-04-02 13:39] #86 closed

[2021-04-02 13:41] krayong commented on #18
@Areeb-510 are you still working on this issue?

[2021-04-04 05:04] Areeb-510 commented on #18
Yes sir I added the mediaRecorder()  to the FileFragment. I had a doubt that like in the app when we click on Record option it opens a new activity with buttons to record audio but in the Project I am unable to find such xml layout so how do I set the play and pause button. Please guide me here as I am working with this type of feature for the first time. Thank you

[2021-04-04 13:17] krayong commented on #18
There is no xml file. I have already told that the record feature uses a third party library which is no longer supported and had some bugs. So that's why we wanted to create a media recorder inside the app that doesn't use any external libraries.

[2021-04-06 06:03] neha-b2001 commented on #15
Hello, I just wanted to give an update - I'm still working on this, it is just taking more time than I expected 😅

[2021-04-09 05:59] adiig7 commented on #89
@ManasUniyal can i work on this?

[2021-04-11 14:15] hagerk720 opened #91 "Delete reminder"
I found out the user don't able to delete the reminder which he make because problem in the desgin so i hope this issue assign to me

![Screenshot_20210411-161310_Study Partner](https://user-images.githubusercontent.com/78926069/114307697-1aa0d880-9ae1-11eb-930b-db6fbf772098.jpg)

[2021-04-11 14:45] priyalbhatewara123 commented on #91
Hey @hagerk720 . Reminders can be deleted by swiping left.

[2021-04-11 15:04] hagerk720 commented on #91
ooh ok ! sorry i didn't notice that

[2021-04-11 15:04] #91 closed

[2021-04-12 17:35] krayong opened #93 "Reminder item layout shadow gets cropped"
## Describe the bug
When a reminder is added to the application, its top and left shadow gets clipped making the layout look ugly

## Expected behavior
The margins should be reduced and the top and left shadow should be clearly visible matching those on the bottom and right.

## Screenshot
![Example](https://user-images.githubusercontent.com/78926069/114307697-1aa0d880-9ae1-11eb-930b-db6fbf772098.

[2021-04-14 11:00] kunal299 commented on #93
@krayong I would like to work on it. Please assign it to me.

[2021-04-18 07:34] Junaid55 opened #94 "Add click from Camera option for updating profile picture."
## Are you a part of GSSOC' 21 ❔
- [Yes ] Yes ✅
- [ ] No  ❎

## Is your feature request related to a problem? Please describe.
A clear and concise description of what kind of problem it is.

We can add alert dialog when user click on profile picture update so user can directly click from camera or can choose from gallery,

## Describe the solution you'd like to add.
A clear and concise description

[2021-04-18 17:31] ManasUniyal commented on #94
Seems like a reasonable feature.
Go ahead @Junaid55

[2021-04-24 05:59] Junaid55 commented on #94
I am beginner so please help me if I will stuck in implementing it

[2021-04-24 13:03] Junaid55 opened #96 "Need enhancement in UI of upload image progress bar"
## Are you a part of GSSOC' 21 ❔
- [ ] Yes ✅
- [ ] No  ❎

## Is your feature request related to a problem? Please describe.
A clear and concise description of what kind of problem it is. For example: I'm always frustrated when [...]

## Describe the solution you'd like to add.
A clear and concise description of what you want to change.

## Additional context
Add any other context about the feature

[2021-04-24 13:06] Junaid55 commented on #96
![1](https://user-images.githubusercontent.com/77045046/115959859-e939fb00-a52b-11eb-869d-ae498310974f.jpg)

[2021-05-03 22:04] ManasUniyal commented on #96
Go ahead with the changes @Junaid55
Do upload a `snapshot of the updated UI`

[2021-05-04 14:32] anirudhsai20 opened #97 "Readme file enhancement"
The Readme file can be enhanced by adding a list of all the Open Source programs in which this project was listed in.

[2021-05-04 14:32] anirudhsai20 commented on #97
Hi! Please assign this issue to me under GSSOC.

[2021-05-14 19:26] ManasUniyal commented on #97
Go ahead @anirudhsai20

[2021-05-25 06:08] unnati914 commented on #97
I can also work on this

[2021-05-25 06:09] unnati914 commented on #96
i can also design it

[2021-05-26 11:41] Kumud-869231165 commented on #94
I'd like to work on this issue. I'm a gssoc participant

[2021-05-27 07:54] unnati914 commented on #97
you need a list of all open source programs that are held all around the globe ? correct?

[2021-05-28 02:36] Akash-Ramjyothi opened #99 "Change Text color on On-Boarding Screen"
## Are you a part of GSSOC' 21 ❔
- [x] Yes ✅
- [ ] No  ❎

## Current Problem:
Currently, on the On Boarding screen, the title of the app is not compatible with the Primary color of the app, but the SKIP option seems highlighted rather than an option to skip.

## Solution:
If the Title of the app is changed to the Primary color and the SKIP option is set with a mildly dim color to make it seem more

[2021-05-30 08:11] #99 closed

[2021-09-18 14:40] jaimehta19 opened #102 "Add improved StylableToast"
## Are you a part of GSSOC' 21 ❔
- [ ] Yes ✅
- [ ] No  ❎

## Is your feature request related to a problem? Please describe.
Currently, the implemented StylableToast is not fully opaque. For the `Forgot Password` scanario, the Toast shows the underlying Text which seems a bit frustrating as it is overlapping in the first glance.

## Describe the solution you'd like to add.
If there waas an opaque S

[2022-02-27 11:09] Pranjali-49 commented on #102
Hey @onso19 , I would like to work on this issue under GSSOC'22!